<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020861370018-g65s646v4ttlp40i8cnm4aplgsedlu80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020861370018-g65s646v4ttlp40i8cnm4aplgsedlu80</string>
	<key>API_KEY</key>
	<string>AIzaSyA-eJzkGS932kl645aC2LITUHEZG6izpOU</string>
	<key>GCM_SENDER_ID</key>
	<string>1020861370018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studiodesigns.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>studioshop-18301</string>
	<key>STORAGE_BUCKET</key>
	<string>studioshop-18301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020861370018:ios:59aa2476d1467fe44b51fb</string>
	<key>DATABASE_URL</key>
	<string>https://studioshop-18301.firebaseio.com</string>
</dict>
</plist>